<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Choose alert</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment color="primary" [(ngModel)]="testMode">
      <ion-segment-button value="testModeOff" (ionSelect)="onTestMode(false)">
        Test Mode: Off
      </ion-segment-button>
      <ion-segment-button value="testModeOn" (ionSelect)="onTestMode(true)">
        Test Mode: On
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <button padding ion-item [hidden]="panicHidden" color="Red" full (click)="panic()">
      <br> Panic!
      <br>
      <br>
    </button>
  </ion-list>
  <hr>
  <button ion-item [hidden]="testModeState" color={{button.alertColor}} 
    (click)="chooseAlert(button.alertID, button.alertName, true)" 
    *ngFor="let button of realButtons"
    full>
    {{button.alertName}}
  </button>

  <button [hidden]="!testModeState" ion-item color={{button.alertColor}}
  (click)="chooseAlert(button.alertID, button.alertName, false)" 
    *ngFor="let button of testButtons"
    full>
    {{button.alertName}}
  </button>
</ion-content>